<%- include ("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>" alt="">
            <br>
            <div class="content">
                <em><span class="ui right aligned container"><%= blog.created.toDateString() %></span></em>
            </div>
            <hr>
            <div class="description" id="ending">
                <p><%- blog.body %></p>
            </div> 
            <a href="/blogs/<%= blog._id%>/edit" class="ui blue button">Edit Post</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red button">Delete Post</button>
            </form>      
        </div>
    </div>
    


</div>

<%- include ("partials/footer") %>